<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.sakebook.android.sample.customtabssample"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.PrefetchActivity">
        </activity>
        <activity android:name=".ui.SessionBottombarActivity">
        </activity>
        <activity android:name=".ui.RemoteViewActivity">
        </activity>

        <service
            android:name="org.chromium.customtabsclient.shared.KeepAliveService"
            android:exported="true"/>

        <receiver android:name=".receivers.BottombarBroadcastReceiver"/>
        <receiver android:name=".receivers.SessionBottombarBroadcastReceiver"/>

        <activity android:name=".ui.DeprecatedBottombarActivity">
        </activity>
        <activity android:name=".ui.CustomAnimationActivity">
        </activity>
        <activity android:name=".ui.CustomToolbarActivity">
        </activity>

        <service
            android:name=".services.ClipboardService"
            android:exported="false">
        </service>

        <receiver
            android:name=".receivers.ShareBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
        </receiver>

        <receiver android:name=".ui.SessionActivity$SessionBroadcastReceiver"
                  android:enabled="true"
                  android:exported="false"/>

        <activity android:name=".ui.CustomRequestActivity">
        </activity>
        <activity
            android:name=".ui.OauthActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="@string/callback_scheme"/>
                <data android:host="@string/callback_host"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.EventActivity">
        </activity>
        <activity android:name=".ui.SessionActivity">
        </activity>
    </application>

</manifest>